@import 'variables';

.AuthLayout__card {
  margin-left: 50%;
  margin-top: 3rem;
  transform: translateX(-50%);
  width: 75%;
}

.AuthLayout__hero,
.AuthLayout__content-pane {
  flex-basis: 50%;
}

.AuthLayout__hero-img {
  margin-left: 5%;
  max-width: 90%;
}

.AuthLayout__store-title {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-top: -1.2rem;
  opacity: 0.6;
}

.AuthLayout__content-pane {
  padding: 0.7rem;
}

@media only screen and (min-width: map-get($grid-breakpoints, 'xl')) {
  .AuthLayout__card {
    width: 60%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, 'md')) {
  .AuthLayout__card {
    width: 90%;
  }
}
