<mat-card class="LoginPage__card">
  <mat-card-header>
    <mat-card-title class="LoginPage__title">{{ 'pages.login.title' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="LoginPage__form" *ngIf="form">
      <mat-form-field class="LoginPage__email-field">
        <input matInput placeholder="example@email.com" [formControl]="form.get('email')" />
        <button
            mat-button
            *ngIf="form.get('email').value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="form.get('email').setValue(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Please enter a valid email address - TODO lang
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          Email is required - TODO lang
        </mat-error>
      </mat-form-field>

      <mat-form-field class="LoginPage__password-field pt-2">
        <input type="password" matInput placeholder="{{ 'pages.login.passwordPlaceholder' | translate }}" [formControl]="form.get('password')" />
        <button
            mat-button
            *ngIf="form.get('password').value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="form.get('password').setValue(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password').hasError('maxlength')">
          Password exceeds 255 characters - TODO lang
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('required')">
          Password is required - TODO lang
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="text-right">
    <button mat-raised-button (click)="login()" color="primary" [disabled]="!form.valid">{{ 'pages.login.loginButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
<div class="LoginPage__signup_link col-12 text-center pt-3">
  <a class="clickable" (click)="goToSignUp()">{{ 'pages.login.registerLink' | translate}}</a>
</div>
